<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{uiLabelMap.APISignIn}}</ion-title>
        <ion-buttons end>
          <button ion-button icon-only>
            <ion-icon name="lock"></ion-icon>
          </button>
        </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>{{uiLabelMap.APIEmail}}</ion-label>
      <ion-input type="email" [(ngModel)]="input.email" name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{uiLabelMap.APIPassword}}</ion-label>
      <ion-input type="password" [(ngModel)]="input.password" name="password"></ion-input>
    </ion-item>
      <ion-item>
      <ion-label>{{uiLabelMap.APIRememberMe}}</ion-label>
      <ion-toggle [(ngModel)]="rememberMe" value="Y"></ion-toggle>
    </ion-item>
    <ion-item>
      <button ion-button full large (click)="login()">{{uiLabelMap.APISignIn}}</button>
    </ion-item>
    <ion-item>
      <button ion-button full large (click)="goToForgot()">{{uiLabelMap.APIForgotPassword}}</button>
    </ion-item>
    <ion-item>
      <button ion-button full large (click)="goToRegister()">{{uiLabelMap.APIDoNotHaveAccount}}</button>
    </ion-item>
  </ion-list>
</ion-content>
