<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{uiLabelMap.APIRegister}}</ion-title>
        <ion-buttons end>
          <button ion-button icon-only>
            <ion-icon name="create"></ion-icon>
          </button>
        </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>{{uiLabelMap.APIEmail}}</ion-label>
      <ion-input type="email" [(ngModel)]="input.email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button full large (click)="register()">{{uiLabelMap.APISendRegisterCode}}</button>
    </ion-item>
  </ion-list>
</ion-content>
