<ion-header>
  <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{uiLabelMap.APIAccount}}</ion-title>
        <ion-buttons end>
          <button ion-button icon-only color="royal">
            <ion-icon name="person"></ion-icon>
          </button>
        </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
<ion-card>
  <ion-card-header>
      {{uiLabelMap.APIBasicInfo}}
  </ion-card-header>

  <ion-list>
    <button ion-item>
      <ion-icon name="mail" item-left></ion-icon>
      {{user.email}}
    </button>

  </ion-list>
  <ion-item>
      <button ion-button full large (click)="signOut()">{{uiLabelMap.APISignOut}}</button>
    </ion-item>
</ion-card>
</ion-content>