
  <ion-header>
      <ion-navbar>
        <ion-title>Generate API Key</ion-title>
      </ion-navbar>
    </ion-header>
  
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" [(ngModel)]="input.password" name="password"></ion-input>
        </ion-item>
        <ion-item>
          <button ion-button full large (click)="generateApiKey()">Generate</button>
        </ion-item>
        <ion-item>
          <button ion-button color="danger" full large (click)="cancel()">Cancel</button>
        </ion-item>
      </ion-list>
    </ion-content>