<ion-header>
  <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{uiLabelMap.APIHome}}</ion-title>
        <ion-buttons end>
          <button ion-button icon-only color="royal">
            <ion-icon name="home"></ion-icon>
          </button>
        </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
      <ion-row>
          <ion-col col-3></ion-col>
          <ion-col col-6>
            <img src="assets/imgs/iot-bb-logo.png"/>
          </ion-col>
          <ion-col col-3></ion-col>
      </ion-row>
      <ion-row>
        <ion-card>
          <ion-card-header>
            {{uiLabelMap.APINews}}
          </ion-card-header>
          <ion-card-content>
              <ion-grid *ngFor="let news of newsList">
                  <ion-row >
                    <ion-col>
                      {{news.contentName}}
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      {{news.text}}
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                        {{news.createdDate | date : 'd/M/yy'}}
                    </ion-col>
                  </ion-row>
                </ion-grid>
        </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-grid>
</ion-content>
