  <ion-content>
      <ion-list>
  <ion-item-sliding *ngFor="let deviceSchedule of deviceScheduleList;">
    <ion-item>
      <ion-label>{{deviceSchedule.description}}</ion-label>
      <ion-label *ngIf="deviceSchedule.runTime != ''">  {{toLocaleString(deviceSchedule.runTime) | date : 'yyyy-MM-dd HH:mm'}}</ion-label>
      <button (click)="disableDeviceSchedule(deviceSchedule.jobId)" ion-button item-right *ngIf="deviceSchedule.enable == 'Y'" color="light"><ion-icon name="power"  color="primary"> </ion-icon></button>
      <button (click)="enableDeviceSchedule(deviceSchedule.jobId)" ion-button item-right *ngIf="deviceSchedule.enable == 'N' && deviceSchedule.frequency != 'ONCE'" color="light"><ion-icon *ngIf="deviceSchedule.enable == 'N'" name="power" color="dark"> </ion-icon></button>
      
    </ion-item>
    <ion-item-options side="left">
        <button ion-button color="danger" (click)="deleteDeviceSchedule(deviceSchedule.jobId)">
          <ion-icon name="trash"></ion-icon>
        </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
      <ion-fab bottom right>
        <button ion-fab mini (click)="newDeviceSchedule(deviceId)"><ion-icon name="add"></ion-icon></button>
        <!-- ion-fab-list>
        <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
        </ion-fab-list -->
    </ion-fab>
  </ion-content>