  <ion-content padding>
    <!-- DEVICE-SWITCH -->
    <ion-grid *ngIf="device.deviceTypeId == 'DEVICE-SWITCH'">
      <ion-row>
        <ion-col col="12">
            <ion-icon icon-center name="{{device.deviceIconName}}" color="{{color}}"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col="4"></ion-col>
        <ion-col col="4">
            <ion-toggle id="device-{{device.deviceId}}"
            checked="{{device.payload == 'ON'}}" item-right
            (ionChange)="publish(device, $event)"
            disabled="{{!mqttClient.isConnected()}}"></ion-toggle>
        </ion-col>
        <ion-col col="4"></ion-col>
      </ion-row>
    </ion-grid>
    <!-- DEVICE-TEMPERATURE -->
    <ion-grid>
        <ion-row *ngIf="device.deviceTypeId == 'DEVICE-TEMPERATURE'">
          <ion-col col="6" icon-right>
              <ion-icon class="sensor-icon" name="{{device.deviceIconName}}"></ion-icon>
              <ion-label class="sensor-data">
                {{device.payload | number:0}} °C
              </ion-label>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="device.deviceTypeId == 'DEVICE-HUMIDITY'">
          <ion-col col="6" icon-right>
            <ion-icon class="sensor-icon" name="{{device.deviceIconName}}"></ion-icon>
              <ion-label class="sensor-data" item-right>
                {{device.payload | number:0}} %
              </ion-label>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <canvas #lineCanvas style="height:40vh; width:80vw"></canvas>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  