devices-page ion-icon {
  font-size: 5em;
}
devices-page [col] {
  display: flex;
  justify-content: center;
  text-align: center;
}
devices-page .sensor-data {
  font-weight: bolder;
  font-size: 2em;
}
devices-page .sensor-icon {
  justify-content: flex-end;
  font-size: 10em;
}
devices-page .label-md {
  margin: 13px 3px 9px 10px;
  font-weight: bold
}
.card-md, .card-ios {
  background-color: #ffffff;
}

devices-page .toggle-md {
  padding: 25px
}
.list-md {
  margin: -5px 0 0px;
}
devices-page .grid {
  padding: 0px;
}