device-view ion-icon {
    font-size: 24em;
}
device-view ion-toggle {
    zoom: 2
}
device-view [col] {
    display: flex;
    justify-content: center;
}
device-view .sensor-data {
    zoom: 3;
}
device-view .sensor-icon {
    justify-content: flex-end;
    font-size: 8em;
    zoom: 1;
}
device-view .label-md {
    margin: 13px 3px 9px 10px;
}
