<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{uiLabelMap.APIDevices}}</ion-title>
        <ion-buttons end>
            <button ion-button clear="true" full="true" item-right icon-left (click)=reconnect()>
                <ion-icon class="icon-right" *ngIf="mqttClient.isConnected()" name="cloud-done" color="primary"></ion-icon>
                <ion-icon class="icon-right" *ngIf="!mqttClient.isConnected()" name="refresh" color="danger"></ion-icon>
                <ion-icon class="icon-right" name="">  </ion-icon>
                <ion-icon class="icon-right" name="">  </ion-icon>
            </button>
        </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
      <ion-item>
          <ion-icon name="apps" item-right color="{{daskboardColor}}" (click)="setDisplay('dashboard')"></ion-icon>
          <ion-icon name="list" item-right color="{{listColor}}" (click)="setDisplay('list')"></ion-icon>
      </ion-item>
  </ion-list>
  <ion-list *ngIf="showList">
      <ion-item *ngFor="let device of deviceList; let deviceIndex = index;">
        <ion-icon (click)="goToDevice(device.deviceId)" name="{{device.deviceIconName}}" item-left  *ngIf="device.payload == 'ON'" color="primary"></ion-icon>
        <ion-icon (click)="goToDevice(device.deviceId)" name="{{device.deviceIconName}}" item-left  *ngIf="device.payload != 'ON'"></ion-icon>
        <ion-label (click)="goToDevice(device.deviceId)">{{device.deviceName}}</ion-label>
        <ion-toggle id="device-{{device.deviceId}}" *ngIf="device.deviceTypeId == 'DEVICE-SWITCH'"
          checked="{{device.payload == 'ON'}}" item-right
          (ionChange)="publish(device, $event)"
          disabled="{{!mqttClient.isConnected()}}"></ion-toggle>
        <ion-label *ngIf="device.deviceTypeId == 'DEVICE-TEMPERATURE'" item-right>{{device.payload | number:0}} °C</ion-label>
        <ion-label *ngIf="device.deviceTypeId == 'DEVICE-HUMIDITY'" item-right>{{device.payload | number:0}} %</ion-label>
      </ion-item>
  </ion-list>
  <ion-grid *ngIf="!showList">
    <ion-row>
      <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3 *ngFor="let device of deviceList; let deviceIndex = index;">
        <ion-card >
          <ion-card-content>
            <!-- DEVICE-SWITCH -->
            <ion-grid *ngIf="device.deviceTypeId == 'DEVICE-SWITCH'">
              <ion-row>
                <ion-col col="12">
                    <ion-label (click)="goToDevice(device.deviceId)">{{device.deviceName}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col="12">
                    <ion-icon (click)="goToDevice(device.deviceId)" icon-center name="{{device.deviceIconName}}" *ngIf="device.payload == 'ON'" color="primary"></ion-icon>
                    <ion-icon (click)="goToDevice(device.deviceId)" icon-center name="{{device.deviceIconName}}" *ngIf="device.payload == 'OFF'  || device.payload == null"></ion-icon>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col="4"></ion-col>
                <ion-col col="4">
                    <ion-toggle id="device-{{device.deviceId}}"
                    checked="{{device.payload == 'ON'}}" item-right
                    (ionChange)="publish(device, $event)"
                    disabled="{{!mqttClient.isConnected()}}"></ion-toggle>
                </ion-col>
                <ion-col col="4"></ion-col>
              </ion-row>
            </ion-grid>
            <!-- DEVICE-TEMPERATURE -->
            <ion-grid *ngIf="device.deviceTypeId == 'DEVICE-TEMPERATURE' || device.deviceTypeId == 'DEVICE-HUMIDITY'">
                <ion-row>
                <ion-col col="12">
                    <ion-label (click)="goToDevice(device.deviceId)">{{device.deviceName}}</ion-label>
                </ion-col>
              </ion-row>  
              <ion-row>
                <ion-col col="12">
                    <ion-icon (click)="goToDevice(device.deviceId)" icon-center name="{{device.deviceIconName}}"></ion-icon>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col="4"></ion-col>
                <ion-col col="4">
                    <ion-label class="sensor-data" *ngIf="device.deviceTypeId == 'DEVICE-TEMPERATURE'">
                      {{(device.payload ? device.payload : 0) | number:0}} °C
                    </ion-label>
                    <ion-label class="sensor-data" *ngIf="device.deviceTypeId == 'DEVICE-HUMIDITY'">
                        {{(device.payload ? device.payload : 0) | number:0}} %
                      </ion-label>
                </ion-col>
                <ion-col col="4"></ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab bottom right>
    <button ion-fab mini (click)="newDevice()"><ion-icon name="add"></ion-icon></button>
    <!-- ion-fab-list>
      <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
    </ion-fab-list -->
  </ion-fab>
</ion-content>
