<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{device.deviceName}}</ion-title>
        <ion-buttons end>
          <button ion-button icon-only color="royal">
            <ion-icon name="cloud-done"></ion-icon>
          </button>
        </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
      <ion-tabs>
          <ion-tab tabIcon="apps" [root]="tabView" [rootParams]="deviceId" *ngIf="device.deviceTypeId != null"></ion-tab>
          <ion-tab tabIcon="stopwatch" [root]="tabSchedule" [rootParams]="deviceId" *ngIf="device.deviceTypeId == 'DEVICE-SWITCH'"></ion-tab>
          <ion-tab tabIcon="settings" [root]="tabSetting" [rootParams]="deviceId"  *ngIf="device.deviceTypeId != null"></ion-tab>
        </ion-tabs>
  </ion-content>