  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label floating>Device Name</ion-label>
        <ion-input type="text" [(ngModel)]="input.deviceName" name="deviceName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-input type="text" [(ngModel)]="input.description" name="description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Device Type</ion-label>
        <ion-select [(ngModel)]="input.deviceTypeId" okText="Select">
          <ion-option selected="{{deviceType.deviceTypeId == 'DEVICE-SWITCH'}}" *ngFor="let deviceType of deviceTypeList;" value="{{deviceType.deviceTypeId}}">{{deviceType.description}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
          <ion-label>Icon</ion-label>
          <ion-icon *ngFor="let icon of deviceIconList;"
            (click)="selectIcon(icon.deviceIconId)"
            item-right name="{{icon.name}}"
            color="{{icon.selected}}">
          </ion-icon>
        </ion-item>
      <ion-item>
        <button ion-button full large (click)="updateDevice()">Update</button>
      </ion-item>
    </ion-list>
<ion-card>
  <ion-card-header>
    MQTT Details
  </ion-card-header>

  <ion-list>
    <ion-item>
      Topic:  {{input.mqtt.topic}}
      <ion-icon name="clipboard" item-right (click)="copyToClipboard(input.mqtt.topic)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-card>

  </ion-content>