// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
[icon-left] ion-icon, [icon-start] ion-icon {
    line-height: 1;
}
.flag-icon {
    background-repeat: repeat !important;
    font-size: 1.4em !important
}
.flag-icon.flag-icon-squared {
    width: 2em !important;
    height: 2em !important;
    cursor: pointer;
    border-radius: 100%;
}
.flag-icon.flag-icon-squared.flag-icon.selected {
    border: 2px color($colors, primary, base) solid;
}

.content-md, .content-ios {
    background-color:color($colors, secondary, base);
}
.toolbar-title-md, .toolbar-title-ios {
    color: color($colors, light, base);
}
.toolbar-background-md, .toolbar-background-ios {
    background: color($colors, dark, base);
}
.bar-button-default-md, .bar-button-default-ios,
.bar-button-clear-md-default, .bar-button-clear-ios-default,
.bar-button-md-default, .bar-button-ios-default {
    color: color($colors, light, base);
}
.item-md, .item-ios {
    background-color: color($colors, secondary, base);
}
.card-md, .card-ios {
    background-color: color($colors, secondary, base);
}
.tabs-md .tabbar, .tabs-ios .tabbar {
    background: color($colors, dark, base);
}
.tabs-md .tab-button-icon, .tabs-ios .tab-button-icon {
    color: color($colors, light, base);
}
.button-md, .button-ios {
    color: color($colors, light, base);
}
.tabs-md .tab-button, .tabs-ios .tab-button {
    color: color($colors, light, base);
}
.item-md.item-label-floating [item-right] {
    z-index: 999;
}
  
