<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title right>
        <img style="width: 30%; margin-left: 8px;margin-bottom: -4px;" src="assets/icon/iot-bb-icon-on-dark.png"/>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list inset>
      <button ion-item item-right icon-left *ngFor="let p of pages" (click)="openPage(p)" [hidden]="!p.visible">
        <ion-icon class="icon-right" name="{{p.icon}}"></ion-icon>    {{p.title}}
      </button>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-3></ion-col>
        <ion-col col-3 *ngFor="let lang of languageList">
            <ion-icon class="flag-icon flag-icon-squared flag-icon-{{lang.language}} {{lang.selected}}" (click)="setLanguage(lang.language)"></ion-icon>
        </ion-col>
        <ion-col col-3></ion-col>
      </ion-row>
    </ion-grid>
      
  </ion-content>


</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>