<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{uiLabelMap.APIForgotPassword}}</ion-title>
        <ion-buttons end>
          <button ion-button icon-only>
            <ion-icon name="lock"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
    <ion-list>
      <ion-item>
        <ion-label floating>{{uiLabelMap.APIEmail}}</ion-label>
        <ion-input type="text" [(ngModel)]="input.email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <button ion-button full large (click)="sendCodeEmail()">{{uiLabelMap.APISendRecoveryCode}}</button>
      </ion-item>
    </ion-list>
  </ion-content>
  