<ion-content padding *ngIf="apiKey != null">
    <ion-list>
        <ion-item>
           <ion-icon item-left name="arrow-back" (click)="goBack()"></ion-icon>
           <ion-label>{{apiKey.description}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label floating>App Name</ion-label>
            <ion-input  type="text" [(ngModel)]="apiKey.description" name="description" ></ion-input>
          </ion-item>
        <ion-item>
            <ion-label floating>Key</ion-label>
            <ion-input  type="text" disabled [(ngModel)]="apiKey.apiKey" name="apiKey" readonly></ion-input>
            <ion-icon name="clipboard" item-right (click)="copyToClipboard(apiKey.apiKey)"></ion-icon>
          </ion-item>
        <ion-item>
          <ion-label floating>Secret</ion-label>
          <ion-input type="{{apiSecretType}}" disabled [(ngModel)]="apiKey.apiSecret" name="apiSecret" readonly></ion-input>
          <ion-icon *ngIf="apiSecretType == 'password'" name="eye-off" item-right (click)="apiSecretType = 'text'"></ion-icon>
          <ion-icon *ngIf="apiSecretType == 'text'" name="eye" item-right (click)="apiSecretType = 'password'"></ion-icon>
          <ion-icon *ngIf="apiSecretType == 'text'" name="clipboard" item-right (click)="copyToClipboard(apiKey.apiSecret)"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label floating>WiFi Name</ion-label>
          <ion-input type="text" [(ngModel)]="apiKey.wifiName" name="wifiName"></ion-input>
          <ion-icon name="clipboard" item-right (click)="copyToClipboard(apiKey.wifiName)"></ion-icon>        </ion-item>
        <ion-item>
          <ion-label floating>WiFi Password</ion-label>
          <ion-icon *ngIf="wifiPasswordType == 'password'" name="eye-off" item-right (click)="wifiPasswordType = 'text'"></ion-icon>
          <ion-icon *ngIf="wifiPasswordType == 'text'" name="eye" item-right (click)="wifiPasswordType = 'password'"></ion-icon>
          <ion-icon *ngIf="wifiPasswordType == 'text'" name="clipboard" item-right (click)="copyToClipboard(apiKey.wifiPassword)"></ion-icon>

          <ion-input type="{{wifiPasswordType}}" [(ngModel)]="apiKey.wifiPassword" name="wifiPassword"></ion-input>
        </ion-item>
        <ion-item>
          <button ion-button full large (click)="updateApiKey()">Update</button>
        </ion-item>
        <ion-item>
            <button ion-button full large (click)="removeApiKey()" color="danger">Remove</button>
          </ion-item>
      </ion-list>
</ion-content>