<ion-header>
  <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{uiLabelMap.APINewAPIKey}}</ion-title>
        <ion-buttons end>
          <button ion-button icon-only>
            <ion-icon name="cube"></ion-icon>
          </button>
        </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item>
          <ion-label floating>App Name</ion-label>
          <ion-input type="text" [(ngModel)]="input.description" name="description"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>WiFi Name</ion-label>
          <ion-input type="text" [(ngModel)]="input.wifiName" name="wifiName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>WiFi Password</ion-label>
            <ion-input type="password" [(ngModel)]="input.wifiPassword" name="wifiPassword"></ion-input>
          </ion-item>
        <ion-item>
          <button ion-button full large (click)="addApiKey()">Add</button>
        </ion-item>
      </ion-list>
</ion-content>