<ion-content padding>
    <ion-list *ngFor="let apiKey of apiKeyList;">
      <ion-item (click)="viewApiKey(apiKey.apiKeyId)">
          <ion-icon name="arrow-forward" item-right></ion-icon>
          <ion-label>{{apiKey.description}}</ion-label>
      </ion-item>
    </ion-list>
    <!-- <ion-card>
        <ion-card-header>
            APIs
        </ion-card-header>
        <ion-card-content>
            <ion-list *ngFor="let apiKey of apiKeyList;">
              <ion-item>
                  Key: {{apiKey.apiKey}}
                  <ion-icon name="clipboard" color="{{secretColor}}" item-right (click)="copyToClipboard(apiKey.apiKey)"></ion-icon>
              </ion-item>
              <ion-item>
                  <ion-icon *ngIf="secretColor==''" name="eye-off" color="{{secretColor}}" item-right (click)="showSecretKey(apiKey.apiKey)"></ion-icon>
                  <ion-icon *ngIf="secretColor!=''" name="eye" color="{{secretColor}}" item-right (click)="hideSecretKey()"></ion-icon>
                  <ion-icon *ngIf="secretColor!=''" name="clipboard" color="{{secretColor}}" item-right (click)="copyToClipboard(secretKey)"></ion-icon>
                  Secret Key: {{secretKey}}
                </ion-item>
            </ion-list>
        </ion-card-content>
      </ion-card> -->
      <ion-fab bottom right>
          <button ion-fab mini (click)="newAPIKey()"><ion-icon name="add"></ion-icon></button>
          <!-- ion-fab-list>
            <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
            <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
            <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
            <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
          </ion-fab-list -->
        </ion-fab>
</ion-content>