<ion-header>
  <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{uiLabelMap.APIDeveloper}}</ion-title>
        <ion-buttons end>
          <button ion-button icon-only color="royal">
            <ion-icon name="cube"></ion-icon>
          </button>
        </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-tabs>
      <ion-tab tabTitle="APIs" [root]="tabAPIs"></ion-tab>
      <ion-tab tabTitle="MQTT" [root]="tabMQTT"></ion-tab>
    </ion-tabs>
</ion-content>