<ion-content padding>
  <ion-list *ngIf="mqtt != null">
    <ion-item>
      <ion-label floating>MQTT URL</ion-label>
      <ion-input  type="text" [(ngModel)]="mqtt.serverUrl" name="mqttUrl"></ion-input>
      <ion-icon name="clipboard" item-right (click)="copyToClipboard(mqtt.serverUrl)"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label floating>MQTT User</ion-label>
      <ion-input  type="text" [(ngModel)]="mqtt.username" name="mqttUsername"></ion-input>
      <ion-icon name="clipboard" item-right (click)="copyToClipboard(mqtt.username)"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label floating>MQTT Password</ion-label>
      <ion-input  type="{{mqttPasswordType}}" [(ngModel)]="mqtt.password" name="mqttPassword"></ion-input>
      <ion-icon *ngIf="mqttPasswordType == 'password'" name="eye-off" item-right (click)="mqttPasswordType = 'text'"></ion-icon>
      <ion-icon *ngIf="mqttPasswordType == 'text'" name="eye" item-right (click)="mqttPasswordType = 'password'"></ion-icon>
      <ion-icon *ngIf="mqttPasswordType == 'text'" name="clipboard" item-right (click)="copyToClipboard(mqtt.password)"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label floating>MQTT Topic</ion-label>
      <ion-input  type="text" [(ngModel)]="mqtt.topic" name="mqttTopic"></ion-input>
      <ion-icon name="clipboard" item-right (click)="copyToClipboard(mqtt.topic)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>